* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    width: 1200px;
    margin: 100px auto;
    border: 1px solid;
    height: 750px;
    border-radius: 5px;
    box-shadow: #0000001a 0px 4px 12px;
}

div#set_bmark {
    margin: 35px 0px 10px 50px;
}

form#set_bmark {
    border: 1px solid;
    padding: 5px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}

form#set_bmark label {
    margin: 10px;
}

form#set_bmark input,
form#set_bmark select {
    display: block;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
}
h1{
    margin-top: 10px;
    margin-left: 50px;
}
div#table {
    overflow-y: scroll;
    height: 390px;
    width: fit-content;
    margin: 0px 0px 10px 50px;
    border: 1px solid;
    border-radius: 5px;
}
table {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: #0000001a 0px 4px 12px;
    background-color: #000000;
}

tr {
    font-size: 20px;
}

th {
    background-color: #808080;
}

th,
td {
    border: 1px solid;
    width: 270px;
    background-color: #ffffff;
    text-align: center;
}

input.delete_button {
    background-color: white;
    text-decoration: none;
    color: #2209e2;
    font-size: 20px;
}
main#del_section {
    text-align: center;
}
main#del_section h1{
    margin: 200px 0px 30px 0px;
}
main#del_section form input {
    padding: 10px 30px;
    margin: 30px 10px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid;
}